<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOG_FILE" value="${LOG_PATH:-logs}/common-libraries.log"/>

    

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>1024</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE:-${LOG_PATH:-logs}/common-libraries.log}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy"> <!-- Changed class here -->
            <fileNamePattern>${LOG_FILE:-${LOG_PATH:-logs}/common-libraries}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize> <!-- Added max file size -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerThrowable>20</maxDepthPerThrowable>
                <maxLength>1024</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
        <appender-ref ref="JSON_FILE"/>
    </root>

    <logger name="com.grace.recon" level="INFO"/>

    <!-- Spring Boot specific logging -->
    <logger name="org.springframework.boot" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>
    <logger name="org.apache.avro" level="WARN"/>

    <!-- MDC for distributed tracing -->
    
    <property name="LOG_EXCEPTION_CONVERSION_WORD" value="%wEx"/>

</configuration>